<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body class="hidden">
        <div class="centrado" id="onload">
            <div class="lds-default">
                <% for (let i=0; i < 12; i++) { %>
                    <div></div>
                    <% } %>
            </div>
        </div>

        <%- include('partials/navbar') %>
            <div id="particles-js"></div>
            <div class="heading-gallery">
                <p class="pie" id="result"><em>Éstos son algunos de nuestros trabajos</em></p>
            </div>
            <div class="gallery-container">
                <div class="gallery">
                    <% for (let i=1 ; i <=12; i++) { %>
                        <a href="/img/gallery/trabajos/<%= i %>.png" data-lightbox="models"
                            data-title="">
                            <img src="/img/gallery/trabajos/<%= i %>.png" alt="">
                        </a>
                        <% } %>

                </div>
            </div>

            <a href="https://wa.me/c/5493584903900?utm_medium=social&utm_source=heylink.me" class="btn-wsp"
                target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>

            <p class="pie"><em>Podés encontrar más resultados en nuestras redes sociales</em></p>

            <%- include('partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
            <script src="/js/app.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            <script src="/js/loader.js"></script>
            <script src="/js/lightbox-plus-jquery.min.js"></script>
    </body>

</html>